.side_bar
  .side_bar__header
    .side_bar__header__box
      .side_bar__header__box__user-name
        masa
      .side_bar__header__box__icon
        .side_bar__header__box__icon__pencil
          = link_to "https://#/", class: "side_bar__box__icon" do
            = icon('far','edit')
        .side_bar__header__box__icon__cog
          = link_to "https://#/", class: "side_bar__box__icon" do
            = icon('fas','cog')
  .side_bar__contents
    .side_bar__contents__group
      techcamp
      .side_bar__contents__group__message
        まだめっせーじがありません

  
   